<!-- header -->

<mat-toolbar color="primary" class="mat-elevation-z6 header">
  <div class="header-left col-md-2 no-padding">
    <div class="row">
        <div class="col-md-6 text">
            <span class="num text-bold">29</span>
            <span class="text-bold">ADMIN</span>
          </div>
          <div class="col-md-6 icon-list">
            <button type="button" class="btn-list" mat-button (click)="drawer.toggle()"><mat-icon>mic</mat-icon></button>
          </div>
    </div>
  </div>
  <div class="header-middle col-md-7">
    <ul class="list-nav">
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="menu">
          <span>APP</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
        </mat-menu>
      </li>
      <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="menu">
            <span>New</span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </li>
        <li class="nav-item">
            <button mat-button [matMenuTriggerFor]="menu">
              <span>Reports</span>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </li>
          <li class="nav-item">
              <button mat-button [matMenuTriggerFor]="menu">
                <span>Actions</span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </li>
    </ul> 
  </div>
  <div class="header-right col-md-3">
    <div class="item">
      <img src="assets/images/avatar.png"/>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container class="content" autosize>
  <mat-drawer #drawer class="side-nav-menuleft" mode="side" opened>
    <ul class="menu">
      <li class="item">
        <button class="custom-btn" type="button" [routerLink]= "['/']">Dashboard</button> 
      </li>
      <li class="item">
        <button class="custom-btn" type="button" [routerLink]="['/sensor']">Sensor</button>
      </li>
      <li class="item">
        <button class="custom-btn" type="button" [routerLink]="['/user']" routerLinkActive="router-link-active" >User</button>
      </li>
      <li class="item">
        <button class="custom-btn" type="button" [routerLink]="['/farm']">Farm</button>
      </li>
      <li class="item">
        <div>
          <button class="custom-btn" (click)="activeDropdown('1')">Charts</button>
          <ul class="custom-list" [@openList]="menuState">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
        </div>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content class="">
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
